<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header}"></head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body class="container mt-5">

  <!-- Agregamos botones para agregar dueños y mascotas -->
  <div class="mb-3">
    <a th:href="@{/agregarVeterinario}" class="btn btn-primary">Agregar Veterinario</a>
    <a th:href="@{/agregarVacuna}" class="btn btn-primary">Agregar Vacunas</a>
    <a th:href="@{/agregarMascota}" class="btn btn-primary">Agregar Mascota</a>
  </div>

<table class="table">

  USUARIO AUTENTICADO:
  <div sec:authentication ="principal.username"></div>
  <br>
  <div sec:authentication ="principal.authorities"></div>
  <br>

    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Sexo</th>
        <th>Fecha de nacimiento</th>
        <th>Atendido por Veterinario</th>
        <th>Vacunas Aplicadas</th>
        <th sec:authorize="hasAuthority('ROL_ADMIN')">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="mascotas : ${mascotas}">
          <td th:text="${mascotas.id}"></td>
          <td th:text="${mascotas.nombre}"></td>
          <td th:text="${mascotas.especie}"></td>
          <td th:text="${mascotas.sexo}"></td>
          <td th:text="${mascotas.fechaNacimiento}"></td>
          <td th:text="${mascotas.veterinario.nombre}"></td>
          <td>
            <ul>
              <li th:each="vacuna : ${mascotas.vacunasAplicadas}" th:text="${vacuna.nombre}"></li>
            </ul>
          </td>
          <!-- Botones de eliminar y actualizar mascota -->
          <td sec:authorize="hasAuthority('ROL_ADMIN')">
            <button th:onclick="'eliminarMascotaConfirmation(\'' + ${mascotas.id} + '\');'" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/actualizarMascota/{id}(id=${mascotas.id})}" class="btn btn-warning">Actualizar</a>
          </td>
        </tr>
    </tbody>
  </table>

  <script th:inline="javascript">

    function eliminarMascotaConfirmation(id) {
        Swal.fire({
            title: '¿Desea eliminar la mascota seleccionada?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = '/maxcotas/eliminarMascota/' + id;
            }
        });
    }
  </script>

  <div th:replace="~{fragments/footer}"></div>
</body>

</html>